:root {
  font-size: 20px;
  --primary: #01295c;
  --secondary: #298596;
}
/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaaaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccccccaa;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
