@import "tailwindcss";

@theme {
  --font-sans: "Raleway", ui-sans-serif, system-ui, sans-serif;

  --color-primary: #01295c;
  --color-secondary: #298596;
}

:root {
  font-size: 16px;
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaaaaaaa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccccccaa;
}
